@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);

body {
	width:100%;
	font-family:'Vollkorn', Georgia, serif;
}

.wrapper { 
	width:720px;
	margin:0 auto;
	position:relative;
}

a {
	color:#0000FF;
	text-decoration:none;
	font-style:italic;
}

a:hover {
	text-decoration:underline;
}

/* Title */

.title {
	width:720px;
	margin:20px auto 20px auto;
	position:relative;
	text-align:center;
	border-bottom:1px solid;
	padding-bottom:10px;
}

#top_title {
	font-size:5.0em;
	line-height:1.0;
	letter-spacing:-4px;
}

#bottom_title {
	font-size:2.2em;
	font-style:italic;
}

/* Sidebar */

.sidebar {
	width:20%;
	float:left;
}

.sidebar ul {

}

.sidebar ul li {
	list-style-type:none;
}

.sidebar ul li a {
	font-style:normal;
	color:#000000;
}

.sidebar ul li a:hover {
	font-style:italic;
	font-weight:700;
	text-decoration:none;
}

/* Body Content */

.content {
	width:80%;
	float:right;
	margin-bottom:40px;
}

.post_title {
	margin:0;
}

/* For the Olark */
#habla_both_div a {
	font-style:normal;
}

/* For the Mailchimps */

#mc-embedded-subscribe-form {
	border:1px solid #cccccc;
}

.mc-field-group {
	clear:both;
	padding:5px;
}

.mc-field-group label {
	text-align:left;
	width:150px;
	float:left;
}

.mc-field-group input {
	width:200px;
	float:left;
}

