<!doctype html>
<html>
	<head>
	
	<title>josephmosby.com</title>
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/stylesheets/style.css">
	
	<!--[if lt IE9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	</head>
	
	<body>
		
		<div class="title">
			<div id="top_title">Joseph Mosby</div>
			<div id="bottom_title">has ideas for the Internet</div>
		</div>
		
		<div class="wrapper">
		<div class="sidebar">
			<ul>
				<li><a href="/">about</a></li>
				<li><a href="/portfolio">portfolio</a></li>
				<li><a href="/resources/resume.doc">résumé</a></li>
				<li><a href="/blog">blog</a></li>
			</ul>
		</div>
		
		<div class="content">
			{{ content }}
		</div>
		
		</div>
	
	</body>
	
	<script>
	
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45638065-1', 'josephmosby.com');
  ga('send', 'pageview');
  
  	</script>
  	
  	<script>
  	
  	var _spinnakr_site_id='133278057';
  	(function(d,t,a){var g=d.createElement(t), s=d.getElementsByTagName(t)[0];g[a]=a;g.src='//s5.spn.ee/js/so.js'; s.parentNode.insertBefore(g,s)}(document,'script','async'));
  	
  	</script> 
