<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>A PIF Did This | A Compendium of Presidential Innovation Fellows Projects</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">A PIF Did This</a></h1>

        <p class="view"><a href="https://github.com/a-pif-did-this">github: a-pif-did-this.github.io</a></p>
        <p>"A PIF Did This" exists to highlight the many projects, large and small, produced by the Presidential Innovation Fellows throughout the terms of their fellowships. Any PIF may showcase their work here. Contact the author at josephmosby @ gmail, or just submit a pull request.</p>
        
        <a href="/github">click: government github user list</a><br />
        <a href="http://www.whitehouse.gov/innovationfellows/round-2-fellows">click: PIF roster</a>
        
      </header>
      <section>
      		{{ content }}
      </section>
      
      <footer>
        <p><small>Special thanks to <a href="https://github.com/orderlist">orderedlist</a> for the current theme.</small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    </body>
</html>