<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=1024, user-scalable=no">

	<title>{{ page.title }}</title>
	
	<!-- Required stylesheet -->
	<link rel="stylesheet" href="/include/deckjs/core/deck.core.css">
	
	<!-- Extension CSS files go here. Remove or add as needed. -->
	<link rel="stylesheet" href="/include/deckjs/extensions/goto/deck.goto.css">
	<link rel="stylesheet" href="/include/deckjs/extensions/menu/deck.menu.css">
	<link rel="stylesheet" href="/include/deckjs/extensions/navigation/deck.navigation.css">
	<link rel="stylesheet" href="/include/deckjs/extensions/status/deck.status.css">
	<link rel="stylesheet" href="/include/deckjs/extensions/hash/deck.hash.css">
	<link rel="stylesheet" href="/include/deckjs/extensions/scale/deck.scale.css">

	<!-- Style theme. More available in /themes/style/ or create your own. -->
	<link rel="stylesheet" href="main.css">
	
	<!-- Transition theme. More available in /themes/transition/ or create your own. -->
	<link rel="stylesheet" href="/include/deckjs/themes/transition/horizontal-slide.css">
	
	<!-- Required Modernizr file -->
	<script src="/include/deckjs/modernizr.custom.js"></script>

	<link rel="stylesheet" href="/stylesheets/style.css">
	
	<!--[if lt IE9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="deck-container">

	{{ content }}

	<!-- Begin extension snippets. Add or remove as needed. -->

	<!-- deck.navigation snippet -->
	<a href="#" class="deck-prev-link" title="Previous">&#8592;</a>
	<a href="#" class="deck-next-link" title="Next">&#8594;</a>

	<!-- deck.status snippet -->
	<p class="deck-status">
		<span class="deck-status-current"></span>
		/
		<span class="deck-status-total"></span>
	</p>

	<!-- deck.goto snippet -->
	<form action="." method="get" class="goto-form">
		<label for="goto-slide">Go to slide:</label>
		<input type="text" name="slidenum" id="goto-slide" list="goto-datalist">
		<datalist id="goto-datalist"></datalist>
		<input type="submit" value="Go">
	</form>

	<!-- deck.hash snippet -->
	<a href="." title="Permalink to this slide" class="deck-permalink">#</a>
		<!-- Required JS files. -->
	<script src="/include/deckjs/jquery-1.7.2.min.js"></script>
	<script src="/include/deckjs/core/deck.core.js"></script>

	<!-- Extension JS files. Add or remove as needed. -->
	<script src="/include/deckjs/core/deck.core.js"></script>
	<script src="/include/deckjs/extensions/hash/deck.hash.js"></script>
	<script src="/include/deckjs/extensions/menu/deck.menu.js"></script>
	<script src="/include/deckjs/extensions/goto/deck.goto.js"></script>
	<script src="/include/deckjs/extensions/status/deck.status.js"></script>
	<script src="/include/deckjs/extensions/navigation/deck.navigation.js"></script>
	<script src="/include/deckjs/extensions/scale/deck.scale.js"></script>

	<!-- Initialize the deck. You can put this in an external file if desired. -->
	<script>
		$(function() {
			$.deck('.slide');
		});
	</script>
</body>
</html>